<div class="container main-content">

    <div class="row g-2" style="width: 100%;">

        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Harry Potter y la piedra filosofal</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn background-button"><i class="bi bi-cart-plus-fill"></i>
                    Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Harry Potter y la cámara secreta</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn background-button"><i class="bi bi-cart-plus-fill"></i>
                    Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Harry Potter y el prisionero de Azkaban</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn background-button"><i class="bi bi-cart-plus-fill"></i>
                    Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Harry Potter y el cáliz de fuego</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn background-button"><i class="bi bi-cart-plus-fill"></i>
                    Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" class="card-img-top" alt="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg">
            <div class="card-body">
                <h5 class="card-title">Harry Potter y la Orden del fénix</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn background-button"><i class="bi bi-cart-plus-fill"></i>
                    Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" class="card-img-top" alt="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg">
            <div class="card-body">
                <h5 class="card-title">Harry Potter y el principe mestizo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn background-button"><i class="bi bi-cart-plus-fill"></i>
                    Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" class="card-img-top" alt="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg">
            <div class="card-body">
                <h5 class="card-title">Harry Potter y las reliquias de la muerte</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn background-button"><i class="bi bi-cart-plus-fill"></i>
                    Comprar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Criaturas fantásticas</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn background-button"><i class="bi bi-cart-plus-fill"></i>
                    Comprar</a>
            </div>
        </div>
    </div>


</div>