.subtitle {
    color: #049dbf;
  }
  
  h3 {
    color: gray;
  }
  
  h4,
  h5 {
    color: #049dbf;
  }

  .titulo {
      margin-top: 30px;
  }

  .background-general {
    background-color: #025e74;
    color: white;
  }
  
  .background-button {
    background-color: #049dbf;
    color: white;
  }
  
  .background-button:hover {
    border: none;  
    background-color: #025e74;
    color: white;
  }